<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>home.mustache file</h1>
{{name}}
<hr>
{{#boards}}
<h3>{{id}}</h3>
<h3>{{title}}</h3>
{{/boards}}   

</body>
</html>